@use "@angular/material" as mat;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f3f3f3;
  overflow-x: hidden;
  top: 0 !important;
}

:root {
  --4px: 0.25rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;

  /* CUSTOM */
  --text-light-gray: hsl(215, 15%, 55%);

  --primary_color: 215 85% 55%;

  /* --status_success: */

  .transition-colors {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .disabled:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: hsl(210 20% 90%);
  }

  /* GENERICS */
  --neutrals_light_100: #ffffff;
  --neutrals_light_200: #fafafa;
  --neutrals_light_300: #f3f3f3;
  --neutrals_light_400: #f7f7fa;

  --neutrals_gray_100: #e9eefc;
  --neutrals_gray_200: #d7dbe7;
  --neutrals_gray_300: #d9d9d9;
  --neutrals_gray_400: #afb1b6;
  --neutrals_gray_500: #61646b;
  --neutrals_gray_600: #88849b;

  --neutrals_dark_100: #1a202c;
  --neutrals_dark_200: #1b212f;
  --neutrals_dark_300: #0f1729;
  --neutrals_dark_400: #19191b;
  --neutrals_dark_500: #000000;

  --tints_aqua_100: #4ddde0;

  --tints_blue_100: #4270b6;
  --tints_blue_200: #1a0dab;

  --tints_purple_100: #f8f4fb;
  --tints_purple_200: #6526ac;

  --tints_magenta_100: #e91551;

  --tints_yellow_100: #f69c08;

  --status_danger_200: #e5313d;
  --status_danger_100: #fee4e3;

  --status_success_200: #619d7a;
  --status_success_100: #dcf8e9;

  --input_border_100: #4096ff;
  --input_border_200: #1677ff;

  --box_shadow_input: rgba(27, 101, 151, 0.075);
  --box_shadow_error_input: rgba(151, 27, 27, 0.075);
}

::selection {
  background: var(--tints_blue_100);
  color: var(--neutrals_light_100);
}

// ::-webkit-scrollbar {
//   width: 8px;
// }
// ::-webkit-scrollbar-track {
//   background: var(--neutrals_light_200);
// }
// ::-webkit-scrollbar-thumb {
//   background: var(--neutrals_dark_100);
//   border-radius: 2px;
// }

html,
body {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: -1,
    )
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
