<div class="client-layout">
  <app-sidebar></app-sidebar>
  <main class="client-content">
    <div style="max-width: 42rem; margin-left: auto; margin-right: auto">
      <div class="text-wrap">
        <app-button
          class="header-button"
          variant="fab-secondary"
          icon="arrow_back"
          link="/client"
        />
        <div>
          <h1 class="page-title">Rejeitar Orçamento</h1>
          <p class="page-subtitle">Informe o motivo da rejeição do orçamento</p>
        </div>
      </div>
      <ng-container *ngIf="order$ | async as order; else loading">
        @if (order.situation === 1) {
        <app-reject-card [order]="order"></app-reject-card>
        } @else {
        <app-rescue-card [order]="order"></app-rescue-card>
        }
      </ng-container>

      <ng-template #loading>
        <p>Carregando solicitação...</p>
      </ng-template>
    </div>
  </main>
</div>
