<div class="admin-layout">
  <app-sidebar></app-sidebar>
  <main class="admin-content">
    <div style="max-width: 42rem; margin-left: auto; margin-right: auto">
      <div class="text-wrap">
        <app-button
          class="header-button"
          variant="fab-secondary"
          icon="arrow_back"
          link="/client"
        />
        <div>
          <h1 class="page-title">Finalizar Solicitação</h1>
          <p class="page-subtitle">
            Confirme a finalização definitiva do serviço
          </p>
        </div>
      </div>
      <ng-container *ngIf="order$ | async as order; else loading">
        <app-finish-card [order]="order"></app-finish-card>
      </ng-container>

      <ng-template #loading>
        <p>Carregando solicitação...</p>
      </ng-template>
    </div>
  </main>
</div>
