<div class="modal">
  <div class="modal-content">

    <h2>Editar Categoria</h2>
    <p>Altere o nome da categoria</p>

    <form #formCategoria="ngForm" (ngSubmit)="atualizar()">
      <mat-form-field appearance="outline" class="app-field">
        <mat-label>Nome da Categoria</mat-label>
        <input
          matInput
          name="nome"
          [(ngModel)]="categoria.nome"
          #nome="ngModel"
          required
        />
      </mat-form-field>

      <div class="actions">
        <button mat-button type="button" (click)="closeModal()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="formCategoria.invalid">Salvar</button>
      </div>
    </form>
  </div>
</div>