<div class="modal">
  <div class="modal-content">

    <h2>Editar Categoria</h2>
    <p>Altere o nome da categoria</p>

    <form [formGroup]="form" (ngSubmit)="atualizar()">

      <app-input
        [control]="nomeControl"
        label="Nome da Categoria"
        placeholder="Digite o nome da categoria"
        [errorMessages]="{
          required: 'O nome da categoria é obrigatório.',
          maxLength: 'O nome deve ter no máximo 50 caracteres.'
        }"
        [hint]="'Informe o nome da categoria'"
        appearance="outline"
      ></app-input>

      <div *ngIf="erroGeral" class="error-message">{{ erroGeral }}</div>

      <div class="actions">
        <button mat-button type="button" (click)="closeModal()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
      </div>
    </form>
  </div>
</div>