<div class="cliente-layout">
  <app-sidebar></app-sidebar>
  <main class="cliente-content">
    <div class="text-wrap">
      <div>
        <h1 class="page-title">Minhas Solicitações</h1>
        <p class="page-subtitle">Gerencie suas solicitações de manutenção</p>
      </div>
      <app-button
        class="header-button"
        variant="primary"
        icon="add"
        title="Nova Solicitação"
        link="/client/new-order"
      />
    </div>

    <div class="order-card-wrap">
      @for (item of items; track $index) {
      <app-order-card [order]="item" />
      }
    </div>
  </main>
</div>
