<div class="client-layout">
  <app-sidebar></app-sidebar>
  <main class="client-content">
    <div class="text-wrap">
      <div>
        <h1 class="page-title">Minhas Solicitações</h1>
        <p class="page-subtitle">Gerencie suas solicitações de manutenção</p>
      </div>
      <app-button
        class="header-button"
        variant="primary"
        icon="add"
        title="Nova Solicitação"
        link="/client/new-order"
      />
    </div>

    <div class="order-card-wrap">
      <ng-container *ngIf="items$ | async as items">
        <app-order-card
          *ngFor="let item of items"
          [order]="item"
        ></app-order-card>
      </ng-container>
    </div>
  </main>
</div>
