h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

p {
  font-size: var(--16px);
  color: hsl(215, 15%, 55%);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.cliente-layout {
  display: flex;
}

.cliente-content {
  flex: 1;
  padding: var(--24px);
  background: #fafafa;
  overflow-y: auto;
}

